<h3>{{ title }}</h3>
<div class="form">
  <form>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name..." [(ngModel)]="book.name" />

    <label for="author">Author</label>
    <input type="text" id="author" name="author" placeholder="Author..." [(ngModel)]="book.author" />    

    <div class="buttons">
      <input type="button" (click)="create()" value="Save"/>
      <input type="button" (click)="cancel()"  value="Cancel"/>
    </div>
  </form>
</div>