input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  background-color: #848484;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 25px;
}

input[type=button]:hover {
  background-color: #B8B888;
}

.buttons {
  text-align: center;
  display: block;
  margin: auto;
}

.form {
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 20px;
}