table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

td, th {
  border: 1px solid #F2F2F2;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F2F2F2;
}