<h3>{{ title }}</h3>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Author</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{ book.id }}</td>
    <td>{{ book.name }}</td>
    <td>{{ book.author }}</td>
    <td>
      <a [routerLink]="['/edit', book.id]">Edit</a>
    </td>
    <td>
      <a routerLink="/books" (click)="remove(book)">Remove</a>
    </td>
  </tr>
</table>
<a routerLink="/new">New Book</a>